
<div class="container">
		<div class="row">
			<div class="span7">
			
			<h4>Artist Insurance for Real Artist, Discover an easy & proven way to protect your Art</h4>
				
				<ul class="list">
				<li>Artwork in the studio, up to $300,000.</li>
				<li>Art is covered While in Transit, At Exhibitions, In Storage and Worldwide.</li>
				<li>A XIV Rated Insurance Company (by A.M. Best).</li>
				<li>No Membership, No fees, No Maximum per item, and No Appraisals or Schedules.</li>
				<li>Very low $1,000 deductible.</li>
				<li>Best loss settlement valuation. Selling price less 30%. Includes Works in Progress.</li>
				<li>Supplies, Canvas, Materials, Paints, Frames, Tools and Reference libraries are also Included.</li>
				<li><%= link_to "Visit our website","http://artinsurancenow.com/", :target => "_blank"%> and our <%= link_to "blog","http://artinsurancenow.com/blog/category/artist-insurance/",:target => "_blank"%> for Art related Articles at <%= link_to "ArtInsurancenow.com", "http://www.artinsurancenow.com/",:target => "_blank"%> .</li>
				</ul>
			
			</div>
			
			
			
			<div class="span5">
			
			<img src="/assets/the_mirror_connection_opening.jpg" alt="" class="right_img">
				
			</div>
		
		</div>
		
		</div>
		
		
		
		
		<div class="container form_bg" style="margin:10px 0">
		
		<div class="row">
			<div class="span8" style="width: auto">
			
				<div class="rdiv">
					<p>Since 1949 Bernard Fleischer & Sons, Inc. has supplied one stop Insurance to the Art community. Each customer has unique needs we listen to and fulfill on a daily basis.
	                  </p>
					<p>We are your trusted choice broker. We have many Insurance companies for Art Collectors, Galleries, Museums, Artists, and Exhibitors.</p>
				</div>
			</div>
		</div>
		
		
		<div class="row">
		
			<div class="span4" style="margin-top: 6px;">
				<div class="ldiv">
				<img src="/assets/uros-island-taiwan-4.jpg" class="left_img2" alt="">
				</div>
			</div>

			<div class="span8">
			
				<div class="rdiv">
					
	                If you Create, Sell, Loan, or Display, works of art on a private or professional basis, we have great coverages with great pricing. This program provides comprehensive and cost-effective protection tailored to meet your individual needs. Art Insurance Policies are tailored to cover works of art at the Studio, in Storage, at Exhibitions, with Dealers, and during Transit.

		              <ul class="list1">
		                <li>We at Bernard Fleischer & Sons provide knowledgeable service to all our clients.  We’re here to guarantee artist that all their creations will be safe. We came up with this new innovative program to help you save time and money. We know how difficult and expensive it could be to get studio, transportation, and exhibition insurance. That’s why we came up with this all new free and easy binding process.</li>
		                <li>We decided to put studio, transportation, and exhibit insurance together all one policy. This new process will save you time and money. Time is valuable and that’s why the policy covers you for a whole year. Protection follows your work around the world, not only in the United States. Safety is number 1 on our list, and that’s why we give you coverage While your Art is in transit. With proven results and 65 years of experience, you're Safe with Bernard Fleischer & Sons, Inc.</li>
		              </ul>
	            </div>
			</div>
	
		</div>

		
		</div>

		
		<div style="text-align:center"><%= link_to "Enter Here", new_artist_path, :class => "btn btn-info btn-large"%></div>