

<body>

<header>
	<div class="container">
				
		
		
		
		
		
		
		
		<div class="row">
	
			<div class="span12 slider_bg">
			
			
			<div class="flexslider">
          <ul class="slides">
            <li>
  	    	    <img src="/assets/sl1.jpg" />
    		</li>
  	    		
				
				<li>
  	    	    <img src="/assets/sl2.jpg" />
  	    		</li>
				
				<li>
  	    	    <img src="/assets/sl1.jpg" />
  	    		</li>
  	    		
				
				<li>
  	    	    <img src="/assets/sl2.jpg" />
  	    		</li>
  	    		
  	    		
          </ul>
        </div>
			
			
			
			
			
				
			</div>
		
		
				
		</div>
		
		<div class="container">
		
		
		
		<div class="row">
		
		
		
			<div class="span7">
			
			<h4>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</h4>
				
				<ul class="list">
				<li>Nulla at ante ac massa fringilla blandit.</li>
				<li>Praesent hendrerit dui vitae ipsum gravida, sit amet pellentesque odio aliquet.</li>
				<li>Morbi eu libero sollicitudin, faucibus dui cursus, semper odio.</li>
				<li>Mauris sagittis neque vel feugiat lobortis.</li>
				<li>Integer consectetur purus vitae sapien congue laoreet.</li>
				<li>Sed eget tellus ac odio volutpat dignissim.</li>
				<li>Morbi eu libero sollicitudin, faucibus dui cursus, semper odio.</li>
				<li>Sed eget tellus ac odio volutpat dignissim.</li>
				</ul>
			
			</div>
			
			
			
			<div class="span5">
			
			<img src="/assets/sample_image.jpg" alt="" class="right_img">
				
			</div>
			
			

		
		
		
		
			
			
			
			
		</div>
		
		
		
		
		
		
		
		
		
		
		</div>
		
		
		
		
		<div class="container form_bg" style="margin:10px 0">
		
		
		
		<div class="row">
		
			<div class="span4">
				<div class="ldiv">
				<img src="/assets/sample_image2.jpg" class="left_img2" alt="">
				</div>
			</div>
			
			
			<div class="span8">
			
			<div class="rdiv">
				Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur sed velit sed dui egestas viverra. Phasellus vel convallis lorem. Maecenas mattis tortor ullamcorper, dapibus risus ut, fermentum dui. Maecenas in erat dui. Sed mi nunc, facilisis id diam a, consectetur luctus diam. Quisque bibendum et orci eget pellentesque. Donec quis tellus eget urna adipiscing elementum at eget lacus. 

                  <br>
                  <br>
              Curabitur accumsan congue metus Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur sed velit sed dui egestas viverra. Phasellus vel convallis lorem. Maecenas mattis tortor ullamcorper, dapibus risus ut, fermentum dui. Maecenas in erat dui. Sed mi nunc, facilisis id diam a, consectetur luctus diam. Quisque bibendum et orci eget pellentesque. Donec quis tellus eget urna adipiscing elementum at eget lacus. Sed mi nunc, facilisis id diam a, consectetur luctus diam. Quisque bibendum et orci eget pellentesque.</div>
			</div>
	
		</div>

		
		</div>


		<div style="text-align:center"><%= link_to "Enter Here", new_artist_path, :class => "btn btn-info btn-large"%></div>

		
		
		
		
		
		
		
		
		
		
		
	</div>

</header>

	<div class="container">
		<div class="row">
			<div class="span3">
				
			</div>
			
			<div class="span9">
				
			
			</div>
		</div>
	</div>
	
	 
 	 <script type="text/javascript">
   jQuery(function(){
      SyntaxHighlighter.all();
    });
    jQuery(window).load(function(){
     jQuery('.flexslider').flexslider({
        animation: "slide",
        start: function(slider){
          jQuery('body').removeClass('loading');
        }
      });
    });
  </script>
		

	
		
</body>
</html>
