 <div class="container form_bg" style="margin-top:10px">
			<div class="row">
			
			
				<div class="span12 footer">
				 © 2004 Bernard Fleischer & Sons, Inc.
				</div>
			
			</div>
	  </div>
		
	</div>

</header>

	<div class="container">
		<div class="row">
			<div class="span3">
				
			</div>
			
			<div class="span9">
				
			
			</div>
		</div>
	</div>
	


    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js"></script>
	<%= javascript_include_tag "jquery.flexslider.js" %>

	<script type="text/javascript">
   
    $(window).load(function(){
      $('.flexslider').flexslider({
        animation: "slide",
        start: function(slider){
          $('body').removeClass('loading');
        }
      });
    });
  </script>
		


	

 
  <%= javascript_include_tag "rhinoslider-1.05.min.js","mousewheel.js","easing.js" %> 

<script type="text/javascript">
$(document).ready(function() {
                $('#slider').rhinoslider({
                    controlsPlayPause: false,
                    showControls: 'always',
                    showBullets: 'always',
                    controlsMousewheel: false,
                    prevText: 'Back',
                    nextText:'Proceed',
        slidePrevDirection: 'toRight',
    slideNextDirection: 'toLeft'
                });


                $(".rhino-prev").hide();
                $('.rhino-next').after('<a class="form-submit" href="javascript:void(0);" >Proceed</a>');
                $(".rhino-next").hide();




                var info = ["Step 1 ","Step 2","Step 3","Step 4","Step 5"];
                
                $('.rhino-bullet').each(function(index){
                    $(this).html(info[index]+'</a>');
                });





            });

            
            $(document).on('click', '.form-submit', function(){
               
                $('.form-error').html("");

                var current_tab = $('#slider').find('.rhino-active').attr("id");

                switch(current_tab){
                    case 'rhino-item0':
                        step1_validation();
                        break;
                    case 'rhino-item1':
                        step2_validation();
                        break;
                    case 'rhino-item2':
                        step3_validation();
                        break;
                    case 'rhino-item3':
                        step4_validation();
                        break; 
                    case 'rhino-item4':
                        step5_validation();
                        break;           
                }
            });

            var step1_validation = function(){

                var err = 0;
                // var userinput = $(Mailing_Address).val();
                var userinput1 = $(Email_address).val();
                var userinput2 = $(Retype_EMail).val();

                var pattern = /^\b[A-Z0-9._%-]+@[A-Z0-9.-]+\.[A-Z]{2,4}\b$/i
                
                if($('#Name_of_Applicant').val() == ''){
                    $('#Name_of_Applicant').parent().parent().find('.form-error').html(" Name is Required");
                    err++;
                }
                if($('#Mailing_Address').val() == ''){
                    $('#Mailing_Address').parent().parent().find('.form-error').html("Mailing Address is Required");
                    err++;
                }


                                    

                 if($('#Studio_Address').val() == ''){
                    $('#Studio_Address').parent().parent().find('.form-error').html("Studio Address is Required");
                    err++;
                }
               
                if($('#us_states').val() == '0'){
                    $('#us_states').parent().parent().find('.form-error').html("Please Select  states");
                    err++;
                } 
                if($('#Zip_Code').val() == ''){
                    $('#Zip_Code').parent().parent().find('.form-error').html("Please Select  Zip Code");
                    err++;
                }


                if($('#Phone_Number').val() == '' || $('#Phone_Number').val() != ''){
                    $cf = $('#Phone_Number');
                    //$cf.blur(function(e){
                        phone = $cf.val();
                        phone = phone.replace(/[^0-9]/g,'');
                        if (phone.length != 10) {
                         $('#Phone_Number').parent().parent().find('.form-error').html("Phone number must include area code and prefix.");   
                        } 
                      
                }

                if($('#Fax').val() == '' || $('#Phone_Number').val() != ''){
                    $cf = $('#Phone_Number');
                    //$cf.blur(function(e){
                        phone = $cf.val();
                        phone = phone.replace(/[^0-9]/g,'');
                        if (phone.length != 10) {
                         $('#Phone_Number').parent().parent().find('.form-error').html("Phone number must include area code and prefix.");   
                        } 
                      
                }


                  if($('#Email_address').val() == ''){
                    $('#Email_address').parent().parent().find('.form-error').html("Please select  email address");
                    err++;
                }


                if(!pattern.test(userinput1))
                    {
                       $('#Email_address').parent().parent().find('.form-error').html("Please enter valid email address");
                    err++;
                    }



                  if($('#Retype_EMail').val() == ''){
                    $('#Retype_EMail').parent().parent().find('.form-error').html("Please select email address");
                    err++;
                   }
                     

                   if(!pattern.test(userinput2))
                    {
                       $('#Retype_EMail').parent().parent().find('.form-error').html("Please enter valid email address");
                       err++;
                    }  

                 

                if(err == 0){
                    $(".rhino-active-bullet").removeClass("step-error").addClass("step-success");
                    $(".rhino-next").show();
                    $('.form-submit').hide();
                    $('.rhino-next').trigger('click');
                }else{
                    $(".rhino-active-bullet").removeClass("step-success").addClass("step-error");
                }


            };

            var step2_validation = function(){
                var err = 0;
              
                if($('#higher_limits').val() == null || $('#higher_limits').val() == ""){
                    $('#higher_limits').parent().parent().find('.form-error').html("Limit of Studio Insurance is required");
                    err++;
                }
                
                if($('#limit_of_Insurance_at_Other_Location').val() == ''){
                    $('#limit_of_Insurance_at_Other_Location').parent().parent().find('.form-error').html("limit of Insurance at other location is required");
                    err++;
                }
                
                 if($('#limit_of_Insurance_While_in_Transit').val() == ''){
                      $('#limit_of_Insurance_While_in_Transit').parent().parent().find('.form-error').html("Limit of Insurance while in transit is required");
                      err++;
                  }
                
                if($('#Policy_Deductable').val() == ''){
                    $('#Policy_Deductable').parent().parent().find('.form-error').html("Policy deductable is required");
                    err++;
                }
                                
                if(err == 0){
                    $(".rhino-active-bullet").removeClass("step-error").addClass("step-success");
                    $(".rhino-next").show();
                    $('.form-submit').hide();
                    $('.rhino-next').trigger('click');
                }else{
                    $(".rhino-active-bullet").removeClass("step-success").addClass("step-error");
                }

            };

            var step3_validation = function(){
                var err = 0;

              

                if($('#Deadbolts').val() == ''){
                    $('#Deadbolts').parent().parent().find('.form-error').html("Deadbolts is required");
                    err++;
                }
                
                if($('#When_was_the_last_date_of_inventory').val() == ''){
                    $('#When_was_the_last_date_of_inventory').parent().parent().find('.form-error').html("Last date of inventory is required");
                    err++;
                }
                
                if(err == 0){
                    $(".rhino-active-bullet").removeClass("step-error").addClass("step-success");
                    $(".rhino-next").show();
                    $('.form-submit').hide();
                    $('.rhino-next').trigger('click');
                }else{
                    $(".rhino-active-bullet").removeClass("step-success").addClass("step-error");
                }

            };

            var step4_validation = function(){
                var err = 0;

                if($('#finished_art_work').val() == ''){
                    $('#finished_art_work').parent().parent().find('.form-error').html("Average value of finished art work is required");
                    err++;
                }
                if($('#single_item').val() == ''){
                    $('#single_item').parent().parent().find('.form-error').html("Maximum value of single item is required");
                    err++;
                }
                
                if(err == 0){
                    $(".rhino-active-bullet").removeClass("step-error").addClass("step-success");
                    $(".rhino-next").show();
                    $('.form-submit').hide();
                    $('.rhino-next').trigger('click');
                }else{
                    $(".rhino-active-bullet").removeClass("step-success").addClass("step-error");
                }

            };
            
            var step5_validation = function(){
                var err = 0;

                if($('#exhibits_year').val() == ''){
                    $('#exhibits_year').parent().parent().find('.form-error').html("Please select exhibits year");
                    err++;
                }
                if($('#current_year').val() == ''){
                    $('#current_year').parent().parent().find('.form-error').html("Please select current year");
                    err++;
                }
                
                if($('#prior_year').val() == ''){
                    $('#prior_year').parent().parent().find('.form-error').html("Please select prior year");
                    err++;
                } 
                
                if($('#Name_of_current_insurance_carrier').val() == ''){
                    $('#Name_of_current_insurance_carrier').parent().parent().find('.form-error').html("Name of current insurance carrier is required");
                    err++;
                }
                
                if(err == 0){
                    $(".rhino-active-bullet").removeClass("step-error").addClass("step-success");
                    $(".rhino-next").show();
                    $('.form-submit').hide();
                    $('.rhino-next').trigger('click');
                }else{
                    $(".rhino-active-bullet").removeClass("step-success").addClass("step-error");
                }

            };
           

        </script>

 	 

        



