




    	<div class="container">
		<div class="row">
	
			<div class="span9">
			<div class="logo">Bernard Fleischer &amp; Sons, Inc. <span>est. 1949</span></div>
			</div>
		
		
				<div class="span3 phone_div">
					<div class="phone"><img src="/assets/phone_icon.png" alt=""></div>
					
					<div class="number">
					<span>CALL US NOW</span> <br>
			  		(800) 921 1008	
					</div>
				
						
			   </div>
		</div>
		
		
		
		
		
		
		
		
		<div class="row">
	
			<div class="span12 slider_bg">
			
			
			<div class="flexslider">
          <ul class="slides">
            <li>
  	    	    <img src="/assets/sl1.jpg" />
  	    		</li>
  	    		
				
				<li>
  	    	    <img src="/assets/sl2.jpg" />
  	    		</li>
				
				<li>
  	    	    <img src="/assets/sl1.jpg" />
  	    		</li>
  	    		
				
				<li>
  	    	    <img src="/assets/sl2.jpg" />
  	    		</li>
  	    		
  	    		
          </ul>
        </div>
						
			
			<div class="form_heading">
					
					Artist Studio Transport &amp; Exhibition Form
					
				</div>
			</div>
		
		
				
		</div>


