<% if @grades["us_states"] == "Arizona" || @grades["us_states"] == "Alaska" || @grades["us_states"] == "Arkansas" || @grades["us_states"] == "California" || @grades["us_states"] == "Colorado" || @grades["us_states"] == "Hawaii" || @grades["us_states"] == "Idaho" || @grades["us_states"] == "Illinois" || @grades["us_states"] == "Indiana" || @grades["us_states"] == "Iowa" || @grades["us_states"] == "Kansas" || @grades["us_states"] == "Kentucky" || @grades["us_states"] == "Michigan" || @grades["us_states"] == "Minnesota" || @grades["us_states"] == "Nebraska" || @grades["us_states"] == "Nevada" || @grades["us_states"] == "New Hampshire" || @grades["us_states"] == "New Mexico" || @grades["us_states"] == "North Dakota" ||@grades["us_states"] == "Ohio" || @grades["us_states"] == "Oregon" || @grades["us_states"] == "South Dakota" || @grades["us_states"] == "Tennessee" || @grades["us_states"] == "Utah" || @grades["us_states"] == "Vermont" || @grades["us_states"] == "Virginia" || @grades["us_states"] == "Washington" || @grades["us_states"] == "West Virginia" || @grades["us_states"] == "Wisconsin" || @grades["us_states"] == "Wyoming" %>
    <p><a href="http://artinsurance.herokuapp.com/assets/Earthquake%20Exclusion%20MIM1305.pdf
           ">Download Earthquake PDF</a> 

    </p>
    <p><a href="http://artinsurance.herokuapp.com/assets/Mold%20Exclusion%20MIM11510.pdf
             ">Download Mold PDF</a> </p>

<% elsif @grades["us_states"] == "Connecticut" || @grades["us_states"] == "Delaware" || @grades["us_states"] =="District of Columbia" || @grades["us_states"] =="Florida" || @grades["us_states"] =="Georgia" || @grades["us_states"] =="Louisiana" || @grades["us_states"] =="Maine" || @grades["us_states"] =="Maryland" || @grades["us_states"] =="Massachusetts" || @grades["us_states"] =="Mississippi" || @grades["us_states"] =="New Jersey" || @grades["us_states"] =="New York" || @grades["us_states"] == "North Carolina" || @grades["us_states"] =="Pennsylvania" || @grades["us_states"] =="Rhode Island" || @grades["us_states"] == "South Carolina" || @grades["us_states"] == "Texas"%>
	<p><a href="http://artinsurance.herokuapp.com/assets/Earthquake%20Exclusion%20MIM1305.pdf
	">Download Earthquake PDF</a> </p>
	<p><a href="http://artinsurance.herokuapp.com/assets/Mold%20Exclusion%20MIM11510.pdf
	">Download Mold PDF</a> </p>
	<p><a href="http://artinsurance.herokuapp.com/assets/Water%20Exclusion%20MIM12310.pdf
	">Download Mold PDF</a> </p>
	<p><a href="http://artinsurance.herokuapp.com/assets/Wind%20Exclusion%20MIM1307.pdf
	">Download Mold PDF</a> </p>

	
<% end %>